/* $deep-darkest-ocean: #171d31;
$deep-darker-ocean: #141a2e;
$deep-dark-ocean: #1c2237;
$ghost: rgba(37, 45, 71, 0.34);
$red: #ff4a50;
$aqua: #06ffff;
$purple: #dd71f9;
$dark-purple: #8041ee;
$orange: #f55753;
$light-pink: #f476b7;
$pink: #ff2182;
$green: #0df9a3;
$black: #2c2c2c;
$yellow: #fdcf44;
$font-xs: 11px;
$font-sm: 12px;
$font-md: 14px; */


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(180deg, #f476b7 0%, #8041ee 100%);
}

.App {
  max-width: 850px;
  margin: 0 auto;
  height: 100vh;
}

.main-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-item {
  background-color: black;
  padding: .5em;
  color: white;
  justify-content: space-between;
}

.list-item__title,
.list-item__meta {
  padding: 3px;
}

.list-item__title {
  background-color: #2b3042;
  display: block;
  margin-bottom: 10px;
}

@media (min-width: 450px) {
  .list-item { display: flex; }
  .list-item__title { 
    flex: 0 0 70%; 
    margin: 0px;
  }
  .list-item__meta { flex: 1 1 auto; }
  /* shorthand for flex grow, shrink, basis; */
}


.list-item__meta {
  background-color: blue;
  text-align: center;
}

.list-item__title a { color: white; }

.searchform input {
  width: 100%;
}

.list-item__commenturl { color: white; }

.searchtabs {
  display: flex;
  padding: 5px;
  background-color: black;
  justify-content: space-between;
}

.searchtabs span { 
  background: yellow;
  padding: 10px;
  background: #2b3042;
  text-transform: uppercase;
  flex-basis: 180px;
  text-align: center;
  border-radius: 3px;
}

.searchtabs span a {
  text-decoration: none;
  color: white;
  font-size: .9em;
  font-weight: bold;
}

.button-row {
  display: flex;
  background: black;
  padding: 5px;
}

.btn-datefilter {
  flex: 1 1 auto;
  text-transform: uppercase;
  /* padding: 10px; */
  background: #2b3042;
  padding: 15px;
  border: 0px;
  border-radius: 5px;
  /* flex-basis: 180px; */
  /* width: 75px; */
  color: white;
  font-weight: bold;
  /* background  : transparent; */
  /* font-family : inherit; */
  /* font-size   : 1em; */
  cursor      : pointer;
}

.btn-datefilter:active {
  background-color: grey;
}

.btn-active {
  background-color: antiquewhite;
  color: black;
}

/* .main-list__span:first-child {
  background: blue;
} */




/* $deep-darker-ocean: ;
$deep-dark-ocean: #1c2237;
$ghost: rgba(37, 45, 71, 0.34); */

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: white;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}